spring.profiles.active: dev
server.port: 8081
hello.message: Hello World!

---
spring:
  config.activate.on-profile: dev
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:spring_boot_tutorial_dev}
    username: ${MYSQL_USER:user_dev}
    password: ${MYSQL_PASS:pass}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties.hibernate.format_sql: true

---
spring:
  config.activate.on-profile: prod
  datasource:
    url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DB:spring_boot_tutorial_prod}
    username: ${MYSQL_USER:user_prod}
    password: ${MYSQL_PASS:pass}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
    properties.hibernate.format_sql: true
